.logo {
  height: 4rem;
  width: 4rem;
  z-index: inherit;
  border-radius: 50%;
  padding: 1rem;
  box-shadow: 0.8rem 0.8rem 1.2rem var(--s-d), -0.8rem -0.8rem 1.2rem var(--s-l);
  transition: box-shadow ease 1s;
  animation: loader 1s infinite linear;
}
.logo-container {
  height: 100%;
  align-items: center;
  justify-content: center;
  z-index: 500;
  padding: 20vh 0;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loading {
  0% {
    box-shadow: 0.8rem 0.8rem 1.3rem var(--s-d),
      -0.8rem -0.8rem 1.3rem var(--s-l);
  }
  /* 12% {
    box-shadow: 0rem 0.8rem 1.3rem var(--s-d), 0rem -0.8rem 1.3rem var(--s-l);
  } */
  25% {
    box-shadow: -0.8rem 0.8rem 1.3rem var(--s-d),
      0.8rem -0.8rem 1.3rem var(--s-l);
  }
  /* 37% {
    box-shadow: -0.8rem 0rem 1.3rem var(--s-d), 0.8rem 0rem 1.3rem var(--s-l);
  } */
  50% {
    box-shadow: -0.8rem -0.8rem 1.3rem var(--s-d),
      0.8rem 0.8rem 1.3rem var(--s-l);
  }
  /* 62% {
    box-shadow: 0rem -0.8rem 1.3rem var(--s-d), 0rem 0.8rem 1.3rem var(--s-l);
  } */
  75% {
    box-shadow: 0.8rem -0.8rem 1.3rem var(--s-d),
      -0.8rem 0.8rem 1.3rem var(--s-l);
  }
  /* 87% {
    box-shadow: 0.8rem 0rem 1.3rem var(--s-d), -0.8rem 0rem 1.3rem var(--s-l);
  } */
  100% {
    box-shadow: 0.8rem 0.8rem 1.3rem var(--s-d),
      -0.8rem -0.8rem 1.3rem var(--s-l);
  }
}
