.ebr-coverphoto-0 {
  color: black;
  background-image: url("https://images.unsplash.com/photo-1516962215378-7fa2e137ae93?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80");
}
.ebr-coverphoto-1 {
  color: white;
  background-image: url("https://images.unsplash.com/photo-1590692857663-65476910fcb9?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
}
.ebr-coverphoto-2 {
  color: black;
  background-image: url("https://images.unsplash.com/photo-1590595345924-7932aeeaea90?ixlib=rb-1.2.1&auto=format&fit=crop&w=752&q=80");
}
.ebr-coverphoto-3 {
  color: black;
  background-image: url("https://images.unsplash.com/photo-1494438639946-1ebd1d20bf85?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=747&q=80");
}
.ebr-coverphoto-4 {
  color: black;
  background-image: url("https://images.unsplash.com/photo-1533090161767-e6ffed986c88?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
}
.ebr-coverphoto-5 {
  color: black;
  background-image: url("https://images.unsplash.com/photo-1531346878377-a5be20888e57?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80");
}
.ebr-coverphoto-6 {
  color: black;
  background-image: url("https://images.unsplash.com/photo-1449247709967-d4461a6a6103?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=751&q=80");
}
.ebr-coverphoto-7 {
  color: black;
  background-image: url("https://images.unsplash.com/photo-1517816743773-6e0fd518b4a6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
}
.ebr-coverphoto-8 {
  color: black;
  background-image: url("https://images.unsplash.com/photo-1520013817300-1f4c1cb245ef?ixlib=rb-1.2.1&auto=format&fit=crop&w=787&q=80");
}
.ebr-coverphoto-9 {
  color: black;
  background-image: url("https://images.unsplash.com/photo-1481277542470-605612bd2d61?ixlib=rb-1.2.1&auto=format&fit=crop&w=695&q=80");
}
.ebr-coverphoto-10 {
  color: black;
  background-image: url("https://images.unsplash.com/photo-1496517463163-3550265405c1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=667&q=80");
}
.ebr-coverphoto-11 {
  color: black;
  background-image: url("https://images.unsplash.com/photo-1520262494112-9fe481d36ec3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80");
}
.ebr-coverphoto-12 {
  color: black;
  background-image: url("https://images.unsplash.com/photo-1524959888614-3ab5712bf527?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjF9&auto=format&fit=crop&w=800&q=80");
}
.ebr-coverphoto-13 {
  background-image: url("");
}
