.dg-search {
  z-index: 26;
  position: relative;
  margin: 2rem 0.5rem 0.5rem;
  padding: 0.5rem;
  border-radius: 50%;
  background: linear-gradient(145deg, #f5fdff, #ced4dd);
  box-shadow: 0.2rem 0.2rem 0.4rem #777b80, -0.2rem -0.2rem 0.4rem #ffffff;
}
.dg-search:hover {
  background: linear-gradient(145deg, #ced4dd, #f5fdff);
}
.dg-search-bar {
}
.dg-location-search {
  z-index: 20;
  background-color: var(--bg);
  position: fixed;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
}
