.dg-single-post {
  --g: #3ed12e;
  --e: #42e0f5;
  --r: #f56042;
  padding: 0.7rem 0;
  background-color: var(--bg);
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 20;
}
.dg-back {
  float: left;
  margin: 0 0 0 1rem;
}
.dg-thumnail {
  position: absolute;
  float: left;
  left: 0;
}
.dg-head-single {
  display: flex;
}
.dg-single-feed-c {
  display: flex;
  margin-top: 1rem;
  margin-left: 1rem;
  min-height: 5rem;
}
.dg-single-feed-c > p {
  padding: 0 1rem;
}
.dg-single-cate {
  position: relative;
  float: right;
  font-size: 0.85rem;
  font-weight: 800;
  writing-mode: vertical-rl;
  text-orientation: upright;
  text-transform: uppercase;
}
.dg-comments {
  text-align: left;
  padding: 1rem;
}
.dg-comments > form {
  padding: 0 0 1rem 0;
}
.dg-comments > ul {
  list-style: none;
}
.dg-comments > ul > li {
  color: white;
  padding: 0.5rem 1rem;
  margin: 0.4rem;
  border-radius: 1rem 0 1rem 0;
  box-shadow: inset 0.05rem 0.05rem 0.3rem rgba(0, 0, 0, 0.6),
    inset -0.05rem -0.05rem 0.3rem rgba(255, 255, 255, 0.5);
}
.dg-thumbnail-comments {
  color: whitesmoke;
  display: flex;
  align-items: center;
}
.dg-i {
  font-size: 0.5rem;
}
.dg-comment-General {
  background: linear-gradient(145deg, var(--p), var(--g));
}
.dg-comment-Event {
  background: linear-gradient(145deg, var(--p), var(--e));
}
.dg-comment-Rumour {
  background: linear-gradient(145deg, var(--p), var(--r));
}
