.dg-feed-header {
  text-align: center;
  background-color: var(--p-d);
  padding: 0.8rem;
  color: white;
  border-radius: 0 0 1rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dg-feed-header button {
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}
/* mobile  */
.dg-mobile-grid {
  text-align: center;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

/* desktop */
.dg-desktop-grid {
  text-align: center;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

@media screen and (min-width: 100vh) {
  .dg-desktop-posts-container > div {
    width: 80vw;
    padding: 0 10vw;
  }
}
