/* post container */
/* mobile  */
.dg-mobile-posts-container {
  width: 99vw;
  margin: 0 1vw 0 0;
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-padding: 0 0 0 1vw;
}
.dg-mobile-posts-container > div {
  scroll-snap-align: start;
  margin: 1vw;
  flex: 0 0 auto;
  height: 85vh;
  width: 98vw;
  background: white;
}
.dg-mobile-posts-container > div > div {
  height: 70vh;
  overflow: hidden;
}
/* desktop  */
.dg-desktop-posts-container {
}
.dg-desktop-posts-container > div {
  margin: 1vw;
  height: 100vh;
  width: 96vw;
  background: white;
}
.dg-desktop-posts-container > div > div {
  height: 70vh;
  overflow: hidden;
}

/* ////// */
.dg-read-more {
  margin: 0.3rem;
  float: right;
}
.dg-read-more > a {
  color: blue;
}

.dg-post-loadmore {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dg-post-loadmore > button {
  border: none;
  padding: 1rem 0.5rem;
  background-color: var(--p);
  font-size: 1rem;
  color: white;
  font-weight: 600;
  border-radius: 0.4rem;
  box-shadow: inset 0.2rem 0.2rem 0.1rem var(--p-l),
    inset -0.2rem -0.2rem 0.1rem var(--p-d);
}
.dg-post-loadmore > button:hover {
  border: none;
  background-color: var(--s-d);
  box-shadow: inset 0.3rem 0.3rem 0.4rem rgba(0, 0, 0, 0.4),
    inset -0.3rem -0.3rem 0.4rem var(--s-d);
  padding: 1rem 0.5rem;
}
