/* post container */
.dg-posts-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.dg-posts-container > div {
  margin: 1vw;
  flex: 0 0 auto;
  height: 80vh;
  width: 98vw;
  background: white;
  border: 0.05rem solid rgba(0, 0, 0, 0.3);
}
.dg-posts-container > div > div {
  height: 70vh;
  overflow: hidden;
}
.dg-read-more {
  margin: 0.3rem;
  float: right;
}
.dg-read-more > a {
  color: blue;
}
