@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Cinzel&family=Galada&family=Modak&family=Montserrat+Subrayada&family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");

/* fonts */
.dg-font-modak {
  font-family: "Modak", cursive;
}
.dg-font-poppins {
  font-family: "Poppins", sans-serif;
}
.dg-font-galada {
  font-family: "Galada", cursive;
}
.dg-font-montserrat {
  font-family: "Montserrat Subrayada", sans-serif;
}
.dg-font-caveat {
  font-family: "Caveat", cursive;
}
.dg-font-cinzel {
  font-family: "Cinzel", serif;
}
.dg-font-baloo {
  font-family: "Baloo 2", cursive;
}

/* text */
.dg-text-red {
  color: red;
}
.dg-text-yellow {
  color: yellow;
}
.dg-text-green {
  color: green;
}
.dg-text-blue {
  color: blue;
}
.dg-text-black {
  color: black;
}
.dg-text-white {
  color: white;
}

/* text align */
.dg-t-left {
  text-align: left;
}
.dg-t-center {
  text-align: center;
}
.dg-t-right {
  text-align: right;
}

/* text size  */
.dg-text-very-small {
  font-size: 1rem;
}
.dg-text-small {
  font-size: 1.5rem;
}
.dg-text-normal {
  font-size: 2rem;
}
.dg-text-large {
  font-size: 2.8rem;
}

/* text decoration */
.dg-t-d-overline {
  text-decoration: overline;
}
.dg-t-d-underline {
  text-decoration: underline;
}
.dg-t-d-both {
  text-decoration: overline underline;
}
.dg-t-d-line-through {
  text-decoration: line-through;
}
.dg-t-d-stroke1-b {
  -webkit-text-stroke: 0.06rem black;
  text-shadow: 0.18rem 0.18rem 0 #000, -0.06rem -0.06rem 0 #000,
    0.06rem -0.06rem 0 #000, -0.06rem 0.06rem 0 #000, 0.06rem 0.06rem 0 #000;
}
.dg-t-d-stroke1-w {
  -webkit-text-stroke: 0.06rem white;
  text-shadow: 0.18rem 0.18rem 0 #fff, -0.06rem -0.06rem 0 #fff,
    0.06rem -0.06rem 0 #fff, -0.06rem 0.06rem 0 #fff, 0.06rem 0.06rem 0 #fff;
}
.dg-t-d-stroke1-animate {
  -webkit-text-stroke: 0.06rem white;
  text-shadow: 0.18rem 0.18rem 0 #fff, -0.06rem -0.06rem 0 #fff,
    0.06rem -0.06rem 0 #fff, -0.06rem 0.06rem 0 #fff, 0.06rem 0.06rem 0 #fff;
  animation: strokeanimation 2s infinite ease;
}
.dg-t-d-stroke2-b {
  -webkit-text-stroke: 0.06rem black;
}
.dg-t-d-stroke2-w {
  -webkit-text-stroke: 0.06rem white;
}
.dg-bold {
  font-weight: 700;
}
.dg-italic {
  font-style: italic;
}
@keyframes strokeanimation {
  0% {
    -webkit-text-stroke: 0.09rem red;
  }
  25% {
    -webkit-text-stroke: 0.09rem orange;
  }
  50% {
    -webkit-text-stroke: 0.09rem blue;
  }
  75% {
    -webkit-text-stroke: 0.09rem yellow;
  }
  100% {
    -webkit-text-stroke: 0.09rem green;
  }
}
.dg-strokes-bar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.dg-strokes-bar > button {
  border-radius: 1rem;
  background-color: wheat;
}

/* categories */
.dg-General {
  color: #20ba1e;
}
.dg-General-bg {
  background: #20ba1e;
}
.dg-Event {
  color: #2ca3a1;
}
.dg-Event-bg {
  background: #2ca3a1;
}
.dg-Rumour {
  color: #e05441;
}
.dg-Rumour-bg {
  background: #e05441;
}
.dg-Poem {
  color: #e04176;
}
.dg-Poem-bg {
  background: #e04176;
}
.dg-Story {
  color: #4173e0;
}
.dg-Story-bg {
  background: #4173e0;
}
.dg-News {
  color: #37b0ac;
}
.dg-News-bg {
  background: #37b0ac;
}
.dg-Confession {
  color: var(--dg-c);
}
.dg-Confession-bg {
  background: var(--dg-c);
}
