:root {
  --bg: whitesmoke;
  --p: #40c4ff;
  --p-l: #82f7ff;
  --p-d: #0094cc;
  --s-l: rgba(255, 255, 255, 1);
  --s-d: rgba(149, 153, 160, 1);
  --t-d: black;
}
body {
  background-color: var(--bg);
}
* {
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
}
a {
  text-decoration: none;
  color: var(--t-d);
}
button:focus {
  outline: none;
}
select:focus {
  outline: none;
}
